/* Global */
nav {
    background-color: var(--color-theme);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100vh, 0% 100vh);
    filter: drop-shadow(0px 0px 5px var(--color-foreground-dark));
    height: 25px;
    user-select: none;
    width: 100%;
    -webkit-app-region: drag;
}

/* Main */
#nav-container, #nav-buttons ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/* Icon */
#nav-icon {
    display: flex;
}

#nav-icon img {
    height: 25px;
    margin: 0px 5px;
    width: 25px;
}

#nav-icon h1, #nav-title h1 {
    color: var(--color-background-light);
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
}

/* Buttons */
#nav-buttons {
    -webkit-app-region: no-drag;
}

#nav-buttons button {
    background-color: transparent;
    border: none;
    height: 25px;
    transition: background-color 0.2s ease;
    width: 25px;
}

#nav-buttons button:focus, #nav-buttons button:hover {
    background-color: var(--color-theme-light);
}

#nav-buttons img {
    height: 15px;
    width: 15px;
}
