/* Container */
#messages {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
}

/* Messages */
#messages-messages {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    overflow-x: hidden;
    overflow-y: auto;
}

.messages-message {
    margin: 10px 20px;
}

.messages-date {
    align-items: center;
    display: flex;
    justify-content: center;
}

.messages-date::before, .messages-date::after {
    content: "";
    background-color: var(--color-theme);
    width: calc(50% - 70px);
    height: 1px;
}

.messages-date h3 {
    color: var(--color-theme);
    font-size: 15px;
    font-weight: 15px;
    line-height: 15px;
    overflow: hidden;
    width: 125px;
    text-align: center;
}

.messages-username {
    color: var(--color-foreground-dark);
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    margin: 5px 0px;
}

.messages-username-self {
    color: var(--color-theme);
}

.messages-username-self::after {
    content: "(You)";
    margin: 0px 10px;
}

.messages-paragraph {
    color: var(--color-foreground-dark);
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    margin: 5px 0px;
}

.messages-embed {
    border-radius: 25px;
    margin: 10px 0px;
    display: flex;
}

.messages-embed-bar {
    background-color: var(--color-theme);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    max-height: 400px;
    width: 5px;
}

.messages-embed-content {
    background-color: var(--color-background-light);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 250px;
    max-height: 250px;
}

.messages-embed-content img {
    max-height: 250px;
    max-width: 250px;
    object-fit: contain;
}

/* Chat */
#messages-chat {
    align-items: center;
    background-color: var(--color-background-dark);
    border-top: 2px solid var(--color-foreground-light);
    display: flex;
    justify-content: center;
    max-height: 200px;
    min-height: 75px;
    user-select: none;
    width: 100%;
}

#messages-attachment, #messages-send {
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-foreground-light);
    border-top: 1px solid var(--color-foreground-light);
    height: calc(100% - 20px);
    width: 50px;
    transition: opacity 0.2s ease;
}

#messages-attachment {
    border-bottom-left-radius: 5px;
    border-left: 1px solid var(--color-foreground-light);
    border-right: none;
    border-top-left-radius: 5px;
}

#messages-send {
    border-bottom-right-radius: 5px;
    border-left: none;
    border-right: 1px solid var(--color-foreground-light);
    border-top-right-radius: 5px;
}

#messages-attachment img, #messages-send img {
    height: 30px;
    opacity: 50%;
    transition: opacity 0.2s ease;
    width: 30px;
}

#messages-attachment:focus img, #messages-attachment:hover img, #messages-send:focus img, #messages-send:hover img {
    opacity: 100%;
}

#messages-content-container {
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-foreground-light);
    border-top: 1px solid var(--color-foreground-light);
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    margin: 10px 0px;
    max-height: 168px;
    min-height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 10px;
    width: 70%;
}

#messages-content-box {
    min-height: 50px;
    width: 100%;
}

#messages-content-box:hover {
    cursor: text;
}

#messages-content-text {
    user-select: text;
}

#messages-content-text:empty::after {
    color: var(--color-foreground-light);
    content: "Send a message!";
}